fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-dotenv
python-jose[cryptography]
google-auth>=2.0.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
requests>=2.0.0
gunicorn
pytest
httpx
psutil
